

<app-menu></app-menu>


<router-outlet></router-outlet>


<!-- <div class="text-layout">

  <h1>hola gente</h1>
  <button pButton type="button" class="p-button-help" icon="pi pi-arrow-right" iconPos="right" label="Buscar Nombre"></button>

  <p-card [header]="nombre | titlecase"
          subheader="El Mejor">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex aliquam veniam odio unde ipsam molestiae maxime molestias impedit excepturi quod adipisci mollitia ipsa obcaecati, voluptas optio quam! Asperiores, aspernatur illo.
  </p-card>


</div>
 -->




